language: java
sudo: false
install: true

dist: trusty
jdk:
- oraclejdk8

os:
- linux

# branches:
#   only:
#     -master

before_cache:
  -rm -f $HOME/stcLabFiles/.gradle/caches/modules-2/modules-2.lock
  -rm -fr $HOME/stcLabFiles/.gradle/caches/*/plugin-resolution

cache:
  directories:
  - $HOME/stcLabFiles/.gradle/caches/
  - $HOME/stcLabFiles/.gradle/wrapper/

script:
- ./stcLabFiles/gradlew assemble
- ./stcLabFiles/gradlew check --rerun-task
